<!DOCTYPE html>
<html>
  <head>
  <!-- Google tag (gtag.js) -->
    <title>BlogKaran</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z070DN91Z0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z070DN91Z0');
    </script>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    

    <%= render partial: "/blog_posts/navbar" %>
    <% if user_signed_in? %>
      <%= link_to "New blog post", new_blog_post_path, class: "px-4 py-1 text-sm text-teal-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-teal-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-teal-600 focus:ring-offset-2" %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "px-4 py-1 text-sm text-teal-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-teal-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-teal-600 focus:ring-offset-2"  %>
      <%#= link_to "Profile", edit_user_registration_path %>
    <%# else %>
      <%#= link_to "Login", new_user_session_path %>
      <%#= link_to "Sign up", new_user_registration_path %>
    <% end %>
    <!--div class="class= prose mx-auto">-->
    <%= yield %>
    <%= render partial: "/blog_posts/footer" %>
  </body>
</html>
